In [17]:
import pandas as pd

In [18]:
# CHANGEME: dilution factor changes based on experiment  (E.g. for a 1:1000 dilution the dilution factor is 1000)

dilution_factor = 10000

# CHANGEME: change file path to the csv file that came off the thermal cycler for plate 1 (corresponding to rows A, B, C and D of the sample plate)

input_plate_1 = "~/Documents/projects/sc_wgbs_comp/laird/20220321_rmgii_scwgbs/20220329_rmgii_scwgbs_qpcr/admin_2022-03-29 11-47-44_CT025776_plate1.csv"

# CHANGEME: change file path to the csv file that came off the thermal cycler for plate 1 (corresponding to rows E, F, G and H of the sample plate)

input_plate_2 = "~/Documents/projects/sc_wgbs_comp/laird/20220321_rmgii_scwgbs/20220329_rmgii_scwgbs_qpcr/admin_2022-03-29 11-45-02_795BR02066_plate2.csv"

# CHANGEME: change file path to the directory of the experimental data

output = "~/Documents/code/git_hub/kapa_quantification_to_pooling/example/pooling_example.csv"

In [19]:
dilution_factor_with_units_conversion = dilution_factor / 1000

In [20]:
plate_1 = pd.read_csv(input_plate_1, header = 19) 

plate_1["starting_quantity_dilution_corrected"] = plate_1["Starting Quantity (SQ)"] * dilution_factor_with_units_conversion

plate_1 = plate_1[12:96]

plate_1_index = pd.read_csv("~/Documents/code/git_hub/kapa_quantification_to_pooling/plate_1_index.csv")

plate_1 = pd.merge(plate_1, plate_1_index, on = "Well")

plate_1

,Well,Fluor,Target,Content,Sample,Cq,Starting Quantity (SQ),starting_quantity_dilution_corrected,sample_plate_index
0,B01,SYBR,NaN,Unkn,NaN,14.545746,0.365237,3.652372,A01
1,B02,SYBR,NaN,Unkn,NaN,15.305662,0.219594,2.195935,A02
2,B03,SYBR,NaN,Unkn,NaN,14.054008,0.507639,5.076386,A03
3,B04,SYBR,NaN,Unkn,NaN,15.007354,0.268137,2.681368,A04
4,B05,SYBR,NaN,Unkn,NaN,13.558318,0.707429,7.074293,A05
...,...,...,...,...,...,...,...,...,...
79,H08,SYBR,NaN,Unkn,NaN,13.323623,0.827797,8.277972,D08
80,H09,SYBR,NaN,Unkn,NaN,22.265861,0.002079,0.020790,D09
81,H10,SYBR,NaN,Unkn,NaN,15.095929,0.252698,2.526981,D10
82,H11,SYBR,NaN,Unkn,NaN,13.651878,0.664476,6.644758,D11
83,H12,SYBR,NaN,Unkn,NaN,14.309509,0.427823,4.278230,D12

In [21]:
plate_2 = pd.read_csv(input_plate_2, header = 19)

plate_2["starting_quantity_dilution_corrected"] = plate_2["Starting Quantity (SQ)"] * dilution_factor_with_units_conversion

plate_2 = plate_2[12:96]

plate_2_index = pd.read_csv("~/Documents/code/git_hub/kapa_quantification_to_pooling/plate_2_index.csv")

plate_2 = pd.merge(plate_2, plate_2_index, on = "Well")

plate_2

,Well,Fluor,Target,Content,Sample,Cq,Starting Quantity (SQ),starting_quantity_dilution_corrected,sample_plate_index
0,B01,SYBR,NaN,Unkn,NaN,14.090639,0.530993,5.309925,E01
1,B02,SYBR,NaN,Unkn,NaN,14.038685,0.549533,5.495327,E02
2,B03,SYBR,NaN,Unkn,NaN,14.268237,0.472213,4.722129,E03
3,B04,SYBR,NaN,Unkn,NaN,15.061793,0.279560,2.795604,E04
4,B05,SYBR,NaN,Unkn,NaN,16.221317,0.129964,1.299636,E05
...,...,...,...,...,...,...,...,...,...
79,H08,SYBR,NaN,Unkn,NaN,17.393885,0.059900,0.598999,H08
80,H09,SYBR,NaN,Unkn,NaN,14.275649,0.469906,4.699063,H09
81,H10,SYBR,NaN,Unkn,NaN,19.041279,0.020175,0.201747,H10
82,H11,SYBR,NaN,Unkn,NaN,16.300182,0.123366,1.233663,H11
83,H12,SYBR,NaN,Unkn,NaN,14.132223,0.516605,5.166049,H12

In [22]:
sample_plate = pd.DataFrame(columns = ["well", "concentration_nm"])

sample_plate.well = [ 
'A01', 'A02', 'A03', 'A04', 'A05', 'A06', 'A07', 'A08', 'A09', 'A10', 'A11', 'A12',
'B01', 'B02', 'B03', 'B04', 'B05', 'B06', 'B07', 'B08', 'B09', 'B10', 'B11', 'B12',
'C01', 'C02', 'C03', 'C04', 'C05', 'C06', 'C07', 'C08', 'C09', 'C10', 'C11', 'C12',
'D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10', 'D11', 'D12',
'E01', 'E02', 'E03', 'E04', 'E05', 'E06', 'E07', 'E08', 'E09', 'E10', 'E11', 'E12',
'F01', 'F02', 'F03', 'F04', 'F05', 'F06', 'F07', 'F08', 'F09', 'F10', 'F11', 'F12',
'G01', 'G02', 'G03', 'G04', 'G05', 'G06', 'G07', 'G08', 'G09', 'G10', 'G11', 'G12',
'H01', 'H02', 'H03', 'H04', 'H05', 'H06', 'H07', 'H08', 'H09', 'H10', 'H11', 'H12'
]

In [23]:
# fill in samples in row A

x = 0
y = 0
z = 12
while x <= 11:
    sample_plate.concentration_nm[x] = (plate_1.starting_quantity_dilution_corrected[y] + plate_1.starting_quantity_dilution_corrected[z]) / 2
    x += 1
    y += 1
    z += 1

# fill in samples in row B

x = 12
y = 24
z = 36
while x <= 23:
    sample_plate.concentration_nm[x] = (plate_1.starting_quantity_dilution_corrected[y] + plate_1.starting_quantity_dilution_corrected[z]) / 2
    x += 1
    y += 1
    z += 1

# fill in samples in row C

x = 24
y = 48
z = 60
while x <= 35:
    sample_plate.concentration_nm[x] = (plate_1.starting_quantity_dilution_corrected[y] + plate_1.starting_quantity_dilution_corrected[z]) / 2
    x += 1
    y += 1
    z += 1

# fill in samples in row D

x = 36
y = 72
while x <= 47:
    sample_plate.concentration_nm[x] = plate_1.starting_quantity_dilution_corrected[y]
    x += 1
    y += 1

In [24]:
# fill in samples in row E

x = 48
y = 0
z = 12
while x <= 59:
    sample_plate.concentration_nm[x] = (plate_2.starting_quantity_dilution_corrected[y] + plate_2.starting_quantity_dilution_corrected[z]) / 2
    x += 1
    y += 1
    z += 1

# fill in samples in row F

x = 60
y = 24
z = 36
while x <= 71:
    sample_plate.concentration_nm[x] = (plate_2.starting_quantity_dilution_corrected[y] + plate_2.starting_quantity_dilution_corrected[z]) / 2
    x += 1
    y += 1
    z += 1

# fill in samples in row G

x = 72
y = 48
z = 60
while x <= 83:
    sample_plate.concentration_nm[x] = (plate_2.starting_quantity_dilution_corrected[y] + plate_2.starting_quantity_dilution_corrected[z]) / 2
    x += 1
    y += 1
    z += 1

# fill in samples in row H

x = 84
y = 72
while x <= 95:
    sample_plate.concentration_nm[x] = plate_2.starting_quantity_dilution_corrected[y]
    x += 1
    y += 1

In [25]:
sample_plate_df = sample_plate

sample_plate_df

   well concentration_nm
0   A01         3.800388
1   A02         2.378362
2   A03         5.218853
3   A04         2.925735
4   A05         7.548144
..  ...              ...
91  H08         0.598999
92  H09         4.699063
93  H10         0.201747
94  H11         1.233663
95  H12         5.166049

[96 rows x 2 columns]

In [26]:
# Illumina pooling calculator only accepts libraries with concentration greater than 0.5 nm

sample_plate_for_pooling_csv = sample_plate[sample_plate.concentration_nm > 0.5]

sample_plate_for_pooling_csv

   well concentration_nm
0   A01         3.800388
1   A02         2.378362
2   A03         5.218853
3   A04         2.925735
4   A05         7.548144
..  ...              ...
90  H07         8.868829
91  H08         0.598999
92  H09         4.699063
94  H11         1.233663
95  H12         5.166049

[81 rows x 2 columns]

In [28]:
sample_plate_for_pooling_csv.to_csv(output, index = False)